/files/memes/
/files/resources/data/
/src/.env
furbot.code-workspace
/.vscode
files/stickers/
src/__pycache__/*
logs
src/cogs/__pycache__/*
docker-composer.yml
tests/__pycache__/*
__pycache__/
src/test.py
